# Data Science Tools and Ecosystem

### Introduction
In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Popluar languages Data Scientists use
* Commonly used libraries used in data science
* Simple arithmetic expression to multiply then add integers

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Usama Bokhari